@model IEnumerable<HelpDeskApplication.Application.ApplicationUser.UserDto>
@using HelpDeskApplication.Application.ApplicationUser.Queries.GetUserRole
@using MediatR
@inject IMediator mediator

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @{
                        var userRoleQuery = new GetUserRoleQuery(item.Email!);
                        var userRoles = await mediator.Send(userRoleQuery);
                        var rolesString = string.Join(", ", userRoles);
                    }
                    @rolesString
                </td>
                <td>
                    @Html.ActionLink("Change Role", "ChangeRole", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
