@using HelpDeskApplication.Application.Ticket.Queries.GetTechnicianNameAssignedToTicket;
@using MediatR;
@using HelpDeskApplication.Application.Ticket.Queries;
@model IEnumerable<HelpDeskApplication.Application.Ticket.TicketDto>
@inject IMediator mediator

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="card m-2" style="width: 18rem;">

            
            <div class="card-header">
                <h4 class="card-title mb-3">Ticket: <u>@item.Title</u></h4>
                <p class="card-subtitle mb-2 ">Assigned to: <strong>@await mediator.Send(new GetUserNameFromTicket(item.AssignedToId))</strong></p>
            </div>

            <div class="card-body">
                <p class="card-subtitle mb-2 "> <strong> Created at:</strong> @item.CreatedAt.ToString("d") <br> by 
                                                            <strong>@await mediator.Send(new GetUserNameFromTicket(item.CreateById))</strong> </p>
                <p class="card-subtitle mb-2 "> <strong> Closed at: </strong>
                    @if (item.ClosedAt == null)
                    {
                        <a>---</a>
                    }
                    @item.ClosedAt?.ToString("d")     
                    </p>
                <p class="card-subtitle mb-2 "> <strong> Priority: </strong> @item.Priority</p>
            </div>

            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                @if (item.IsEditable)
                {
                    <a class="btn btn-outline-secondary" asp-controller="Ticket" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                }
            </div>

        </div>
    }

</div>

    
